<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title> Student Management </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Student Management</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/students}">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                    <h1 class="text-center"> Edit Student </h1>
                    <div class="card-body">
                        <form th:action="@{/save}" th:object="${student}" method="POST">
                            <input type="hidden" name="id" th:field="*{id}"/>
                            <div class="form-group">
                                <label> First Name </label>
                                <input type="text" name="firstName" th:field="*{firstName}" class ="form-control"/>
                            </div>
                            <div class="form-group">
                                <label> Last Name </label>
                                <input type="text" name="lastName" th:field="*{lastName}" class ="form-control"/>
                            </div>
                            <div class="form-group">
                                <label> Email </label>
                                <input type="text" name="email" th:field="*{email}" class ="form-control"/>
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary"> Submit </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>